/* GENERAL */

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: #545454;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

/* HEADER */
header {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

#header-left {
  display: flex;
  align-items: center;
}

#header-left img {
  height: 40px;
  margin-right: 28px;
}

header form {
  border: 2px solid #e0e0e0;
  height: 36px;
  width: 346px;
  border-radius: 7px;
  padding-left: 10px;
}

header label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

header input {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border-radius: 7px;
  border: none;
  margin-left: 10px;
}

header input:focus {
  outline: none;
}

#header-right {
  display: flex;
  align-items: center;
}

header nav {
  display: flex;
  align-items: center;
}
header nav a {
  border: solid 2px white;
  margin-left: 10px;
  padding: 10px;
  border-radius: 15px;
  color: #545454;
  display: flex;
  align-items: center;
}

header nav a i {
  margin-right: 5px;
}

#icon-plus {
  border: solid 2px #545454;
  border-radius: 50%;
  padding: 3px;
}

header nav a:hover {
  border: solid 2px;
  border-color: #545454;
  cursor: pointer;
}

header button {
  border: solid 2px;
  margin-left: 10px;
  padding: 10px;
  background-color: black;
  border-radius: 50px;
  color: white;
}

header button:hover {
  background-color: #333333;
  cursor: pointer;
}

/* SECTION N°1 */

#section1 h1 {
  font-size: 54px;
  font-weight: 700;
  margin-bottom: 25px;
}

#section1 h1 span {
  color: #fe5d5d;
}

#menu-main {
  display: flex;
  justify-content: space-between;
}

main nav a {
  display: flex;
  justify-content: space-between;

  flex: 1;
  padding: 20px;
  border: solid 1px;
  border-radius: 10px;
}

main nav a:not(:last-child) {
  margin-right: 20px;
}

main nav a:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

#section1-pictures {
  display: flex;
  height: 430px;
  margin-top: 26px;
  justify-content: space-between;
}

#section1-pictures-left {
  display: flex;
  flex: 1;
  margin-right: 2px;
  position: relative;
}

#section1-pictures-left img {
  object-fit: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

#section1-pictures-left img:hover {
  opacity: 0.8;
}

#section1-pictures-left button {
  position: absolute;
  bottom: 20px;
  margin-left: 20px;
  padding: 10px;
  background-color: black;
  border-radius: 50px;
  color: white;
  border: none;
  font-size: 11px;
  cursor: pointer;
}

#section1-pictures-left button i {
  margin-right: 5px;
}

#section1-pictures-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 480px;
}

#section1-pictures-right img {
  height: 49.8%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

#section1-pictures-right :nth-child(1) {
  border-top-right-radius: 15px;
}
#section1-pictures-right :nth-child(1):hover {
  opacity: 0.8;
}
#section1-pictures-right :nth-child(2) {
  border-bottom-right-radius: 15px;
}
#section1-pictures-right :nth-child(2):hover {
  opacity: 0.8;
}

/* TREE STRUCTURE */
.tree-structure {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  color: #444242;
  font-size: 12px;
  font-weight: 100;
}

.tree-structure span {
  margin: 0 5px;
}

/* SECTION N°2 */
#section2 {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  border-bottom: solid 1px black;
  padding-bottom: 95px;
}
#section2-text-left {
  width: 50%;
}

#section2-text-left h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 14px;
}

#section2-text-left p {
  font-weight: 100;
  margin-bottom: 14px;
  line-height: 20px;
  font-size: 16px;
}

#section2-block-right {
  height: 424px;
  width: 525px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#section2-block-right div {
  background-color: #fe5d5d;
  height: 234px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 32px;
}

#section2-block-right img {
  display: flex;
  height: 190px;
  object-fit: cover;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#create-trip h3 {
  font-size: 32px;
  margin-bottom: 20px;
}

#create-trip p {
  font-weight: 100;
  line-height: 20px;
  font-size: 16px;
  margin-bottom: 20px;
}

#create-trip-button {
  border: none;
  padding: 20px;
  background-color: black;
  border-radius: 50px;
  color: white;
  font-size: 16px;
}

#create-trip-button:hover {
  background-color: #333333;
  cursor: pointer;
}

/* SECTION N°3 */

#section3 {
  padding-bottom: 100px;
  border-bottom: solid 1px black;
}

.section-title {
  display: flex;
  justify-content: center;
}

.section-title h2 {
  margin-top: -15px;
  font-size: 28px;
  background-color: white;
  padding-left: 15px;
  padding-right: 15px;
}

.display-more {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.travel-advices {
  display: flex;
  height: 76px;
}

.travel-advice {
  border: 2px solid #e0e0e0;
  flex: 1;
  display: flex;
  align-items: center;
  border-radius: 10px;
  font-weight: 100;
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.travel-advice img {
  height: 100%;
}

.travel-advice:not(:last-child) {
  margin-right: 16px;
}

/* SECTION N°4 */

#section4 {
  padding-bottom: 100px;
  border-bottom: solid 1px black;
}

.dont-miss-row {
  height: 330px;
  margin-top: 50px;
  display: flex;
}

.dont-miss-row article {
  flex: 1;
  padding-right: 20px;
}

.dont-miss-row article h3 {
  font-size: 24px;
  margin-bottom: 25px;
}

.dont-miss-row article p {
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 15px;
  line-height: 22px;
}

.dont-miss-row article a {
  font-size: 14px;
}

.carousel-arrow-1 {
  margin-right: -20px;
  z-index: 1;
}
.carousel-arrow-2 {
  margin-left: -20px;
  margin-right: -20px;
  z-index: 1;
}

.carousel-arrow-1 i,
.carousel-arrow-2 i {
  border: solid 2px black;
  padding: 10px;
  border-radius: 50%;
  margin-top: 100px;
  background-color: white;
}

.carousel-arrow-1 i:hover,
.carousel-arrow-2 i:hover {
  background-color: black;
  color: white;
}

.carousel {
  flex: 2.5;
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
}

.carousel-block {
  width: 310px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.carousel-block:not(:last-child) {
  margin-right: 16px;
}

.carousel-picture {
  display: flex;
  height: 205px;
  position: relative;
}

.carousel-picture i {
  position: absolute;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  right: 7px;
  margin-top: 7px;
}
.carousel-picture i:hover {
  background-color: white;
}

.carousel-picture img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.carousel-picture:hover {
  opacity: 0.8;
}

.carousel-description {
  height: 100%;
  padding-top: 5px;
}

.carousel-description p {
  font-weight: 100;
  font-size: 14px;
  margin-top: 5px;
  line-height: 18px;
}

.carousel-advice {
  display: flex;
  align-items: center;
}

.carousel-advice i {
  color: #04a96c;
  margin-right: 3px;
}

/* FOOTER */
footer {
  height: 100px;
  background-color: #f9f1ec;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-weight: 100;
  line-height: 20px;
  font-size: 16px;
}
